<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.finalproject.deliveronthego"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="myapp.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-library android:name="com.google.android.maps"/>

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD2vfzgpKkVmNfcquawTusW9gUfi2GLjY8" />


        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".firstPage"
            android:label="@string/title_activity_first_page"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.finalproject.deliveronthego.MainActivity" />
        </activity>
        <activity
            android:name=".Registration"
            android:label="Registration"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.finalproject.deliveronthego.MainActivity" />
        </activity>
        <activity
            android:name=".SignUp"
            android:label="SignUp"
            android:parentActivityName=".Registration" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.finalproject.deliveronthego.Registration" />
        </activity>
        <activity
            android:name=".SignUpDriver"
            android:label="SignUpDriver"
            android:parentActivityName=".Registration" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.finalproject.deliveronthego.Registration" />
        </activity>


    </application>

</manifest>
